<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>How's Jeff Doing?</title>
</head>
<body>
<h1>WSOP 2010 -- The Buffalo Jeff Heiberg Watch</h1>
    <%   (0..5).step(1) do |x| %>
     <%= "#{@categories[x]}  #{@info[x]}, " -%>
    <% end %>
    <%= "Average_Stack #{@avg}" %>

    <ol>
    <% (0..9).each do |x| %>
        <p><%= "#{x+1} -- #{@player[x]} -- #{@chips[x]}" %></p>
    <% end %>
    </ol>
    
    <p><B><%= @note %><B></p>

<B>
  <p><%= @commentary[0] %></p>
  <p><%= @commentary[1] %></p>
</B>
</body>
</html>