<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>How's Jeff Doing?</title>
</head>
<body>
<h1>WSOP 2010 -- The Buffalo Jeff Heiberg Watch</h1>
    <%   (0..4).step(1) do |x| %>
     <%= "#{@categories[x]}  #{@info[x]}, " -%>
    <% end %>
    <%= "Average_Stack #{@avg}" %>

    <ol>
    <% (0..9).each do |x| %>
        <p><%= "#{x+1} -- #{@player[x]} -- #{@chips[x]}" %></p>
    <% end %>
    </ol>
    
    <p><B><%= @note %></B></p>

<B>
  <p><%= @commentary[0] %></p>
  <p><%= @commentary[1] %></p>
</B>

    Harrah's has requested that we leave all 1,203 players in our chip counts despite the fact that
    we can't possibly track them all throughout the course of the day.
    We're definitely going to keep an eagle eye on the notables, but understand that the chip counts
    for many of the players will not be edited today.
    This is the last day we'll all have to deal with a huge, messy list; once we hit the money,
    things will be a lot easier to keep track of. --PokerNews

</body>
</html>